section.activity
  h2 Crate your holiday activity
  h5 Hi! What are your holiday interests?
  form
    input(type='text' placeholder='Enter your insterests')
    input(type='button' value='Search partners')
