section.dreamshare
  h2 How Dreamshare works?
  .dreamshare__cards
    #dreamshareCard1.dreamshare__card
      .step STEP 1
      h3 Sed leo enim, condimentum
      p
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    #dreamshareCard2.dreamshare__card
      .step STEP 2
      h3 Morbi velit risus
      p
        | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
    #dreamshareCard3.dreamshare__card
      .step STEP 3
      h3 Sed leo enim, condimentum
      p
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
