section.ideas
  h2 Discover holiday activity ideas
  .ideas__cards
    #sport.ideas__card
      h4 Sports and Activis
    #health.ideas__card
      h4 Wellness and Health
    #extreme.ideas__card
      h4
        | Extreme Sports
        | and Expeditions
    #games.ideas__card
      h4 Games
    #culture.ideas__card
      h4 Culture and Education
    #relaxation.ideas__card
      h4 Enjomet and Relaxation
    #travelling.ideas__card
      h4 Trevelling
