section.partner
  h2 Meet a partner for your best holiday
  .partner__cards
    #bradley.partner__card
      img(src='./images/partner1.png')
      h5 Bradley Hunter
      p Based in Chicago. I love playing tennis and loud music.
    #marie.partner__card
      img(src='./images/partner2.png')
      h5 Marie Bennett
      p Currently living in Colorado. Lover of art, languages and travelling.
    #diana.partner__card
      img(src='./images/partner3.png')
      h5 Diana Wells
      p
        | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
    #christopher.partner__card
      img(src='./images/partner4.png')
      h5 Christopher Pierce
      p Star Wars fanatic. I have a persistent enthusiasm to create new things.
  input.other-partner-btn(type='button' value='See other partners')


