@import 'base/reset';
@import 'common/header';
@import 'common/footer';
@import 'content/dreamshare';
@import 'content/partner';
@import 'content/ideas';
@import 'content/activity';

body {
  background: white;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.container {
  width: 940px; 
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  section {
    padding-top: 88px;
    & h2 {
      text-align: center;
      font: {
        size: 26px;
        weight: bold;
      }
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 940px) {
  .container {
    width: 748px;
  }

  main {
    section {
      padding-top: 93px;
      & h2 {
        text-align: center;
        font: {
          size: 22px;
        }
        line-height: 27px;
      }
    }
  }
}

@media screen and (max-width: 748px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    width: 300px;
  }
}