extends common/layout

block content
  main 
    .container
        block dreamshare
          include content/dreamshare
        block partner
          include content/partner
        block ideas
          include content/ideas
        block activity
          include content/activity