footer {
  margin-top: 166px;
  padding-top: 38px;
  padding-bottom: 30px;
  border-top: 2px solid #FF4E50;
  & .container {
    flex-direction: row;
  }
  & h4 {
    color: #FF4E50;
    font-size: 16px;
    line-height: 20px;
  }
  & div {
    display: flex;
    flex-direction: column;
  }
  & h5 {
    margin-bottom: 11px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  & ul > li {
    color: #999999;
    font: {
      family: 'Roboto, sans-serif';
      size: 14px;
      weight: 300;
    }
    line-height: 26px;
  }
  & .div-company {
    margin-left: 119px;
  }
  & .h5-partners {
    margin-left: 135px;
    margin-right: auto;
  }
  & p {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: auto;
    color: #CCCCCC;
    font: {
      size: 10px;
      weight: bold;
    }
    line-height: 12px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 940px) {
  footer {
    & .container {
      width: 692px;
    }
    & .div-company {
      margin-left: 108px;
    }
    & .h5-partners {
      margin-left: 64px;
    }
  }
}

@media screen and (max-width: 748px) {
  footer {
    & .container {
      width: 492px;
    }
    & .div-company {
      margin-left: 42px;
    }
    & .h5-partners {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 560px) {
  footer {
    margin-top: 145px;
    padding-top: 20px;
    & .container {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    & h5 {
      margin-bottom: 0;
      text-align: center;
    }
    & .div-company {
      margin-top: 13px;
      margin-left: 0;
    }
    & ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      line-height: 26px;
    }

    & ul {
      width: 220px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      line-height: 26px;
    }
    & .h5-partners {
      margin-top: 7px;
      margin-right: 0;      
    }
    & p {
      margin-top: 14px;
      margin-left: 0;
      text-align: center;
    }
  }
}