header {
  width: 100%;
  height: 700px;
  background: url(../images/headerBg.jpg);
  background-size: cover;
  nav {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    & .brand {
      color: white;
      font: {
      size: 20px;
      weight: bold;
      }
      line-height: 24px;
      text-decoration: none;
    }
    & .login {
      margin-right: 40px;
      display: flex;
      justify-content: space-between;
      a, input {
        font-size: 14px;
        font-weight: 100;
        line-height: 17px;
        color: white;
      }
      & a {
        margin-top: 5px;
        margin-right: 21px;
        text-decoration: none;
      }
      & input {
        width: 90px;
        height: 36px;
        margin-top: -6px;
        border: 2px solid white;
        border-radius: 45px;
        background: transparent;
        letter-spacing: 1px;
      }
    }
  }
  & .jumbotron {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1{
      margin-top: 223px;
      text-align: center;
      color: white;
      font: {
        size: 52px;
        weight: 900;
      }
      line-height: 63px;
    }
    & h3 {
      margin-top: 28px;
      color: white;
      font:  {
        family: 'Roboto', 'Arial', sans-serif;
        size: 20px;
        weight: 300;
        size: 24px;
      }
      line-height: 24px;
    }
    & input {
      width: 225px;
      height: 40px;
      margin-top: 35px;
      border: none;
      border-radius: 20px;
      background: #FF4E50;
      color: white;
      font: {
        size: 14px;
        weight: 300;
      }
      line-height: 17px;  
      letter-spacing: 0.5px;
    }
  }
}

@media screen and (max-width: 940px) {
  header {
    width: 100%;
    background-size: cover;
    background-position: center;
    nav {
      & .brand {
        margin-left: 37px;
      }
    }
    & .jumbotron {
      & h1{
        width: 500px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  header {
    height: 540px;
    nav {
      margin-top: 26px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      & .brand {
        margin-left: 0;
        margin-top: 97px;
      }
      & .login {
        margin: 0;
        display: flex;
        justify-content: center;
        input {
          margin-right: 0;
        }
      }
    }
    & .jumbotron {
      top: -18px;
      & h1{
        width: 300px;
        font-size: 30px;
        line-height: 37px;
      }
     
      & h3 {
        text-align: center;
        margin-top: 6px;
        font-size: 19px;
        line-height: 24px;
      }
      & input {
        width: 280px;
        margin-top: 15px;
      }
    }
  }
}