.activity {
  margin-top: -18px;
  text-align: center;
  & h5 {
    margin-top: 53px;
    font: {
      family: 'Roboto', 'Arial', sans-serif;
      size: 18px;
      weight: 300;
    }
    line-height: 14px;
  }
  form {
    margin-top: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    & input[type=text] {
      width: 299px;
      height: 40px;
      margin-right: 12px;
      padding-left: 12px;
      border: 1px solid #D4D4D4;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
      border-radius: 3px;
      color: #999999;
      font: {
        family: 'Roboto', 'Arial', sans-serif;
        size: 14px;
        weight: 300;
      }
      line-height: 16px; 
    }
    & input[type=button] {
      width: 172px;
      height: 40px;
      border: 1px solid #D4D4D4;
      background: #FF4E50;
      border-radius: 40px;
      color: white;
      font: {
        weight: bold;
        size: 14px;
      }
      line-height: 17px;
      letter-spacing: 0.7px;
    }
  }
}

@media screen and (max-width: 560px) {
  .activity {
    margin-top: -1px;
    & h5 {
      margin-top: 19px;
    }
    form {
      display: flex;
      flex-direction: column;
      & input[type=text] {
        width: 280px;
        margin-top: -10px;
        margin-right: 0;
        }
      & input[type=button] {
        width: 280px;
        margin-top: 10px;
        }
      }
    }
}