.dreamshare {
  &__cards {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }
  &__card {
   width: 300px;
   height: 400px;
   padding: 20px 25px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   background-size: cover;
    & .step {
      width: 70px;
      height: 20px;
      margin-bottom: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background: #FF4E50;
      color: white;
      font: {
        size: 9px;
        weight: lighter;
      }
      line-height: 12px;
      letter-spacing: 2px;
      
    }
    & h3 {
      margin-bottom: 25px;
      color: white;
      font: {
        size: 24px;
        weight: bold;
      }
      line-height: 26px;
    }
    & p {
      color: #E3E3E3;
      font: {
        family: 'Roboto', 'Arial', sans-serif;
        size: 14px;
        weight: 300;
      }
      line-height: 14px;
    }
  }
}

#dreamshareCard1 {
    background: url(../images/dreamshareCard1.jpg);
}
#dreamshareCard2 {
  background: url(../images/dreamshareCard2.jpg);
  & h3 {
    margin-bottom: 17px;
  }
  & .step {
    margin-bottom: 24px;
  }
}
#dreamshareCard3 {
  background: url(../images/dreamshareCard3.jpg);
}

@media screen and (max-width: 940px) {
  .dreamshare {
    &__card {
     width: 236px;
     padding: 15px 20px;
      & .step {
        margin-bottom: 45px;
      }
      & h3 {
        margin-bottom: 29px;
        line-height: 14px;
      }
    } 
  }
  #dreamshareCard1 {
    background: url(../images/dreamshareCard1.jpg);
    & h3 {
      margin-bottom: 22px;
    }
    & .step {
      margin-bottom: 17px;
    }
  }
}

@media screen and (max-width: 748px) {
  .dreamshare {
    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__card {
     width: 300px;
     margin-bottom: 10px;
    } 
  }
}

@media screen and (max-width: 560px) {    
  .dreamshare {
    &__cards {
      margin-top: 14px;
    }
    &__card {
     width: 100%;
     height: 240px;
     margin-bottom: 10px;
      & h3 {
        margin-bottom: 25px;
      }
    } 
  }
  #dreamshareCard1 {
    & h3 {
      margin-bottom: 32px;
    }
    & .step {
      margin-bottom: 31px;
    }
  }
}