.ideas {
  text-align: center;
  &__cards {
    height: 990px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
   width: 300px;
   height: 310px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
    & h4 {
      color: white;
      font: {
        size: 22px;
        weight: bold;
      }
      line-height: 27px;
    }
  }
}
#sport {
  background-image: url(../images/sport.jpg);
}
#health {
  background-image: url(../images/health.jpg);
}
#extreme {
  background-image: url(../images/extreme.jpg);
  & h4 {
    max-width: 220px;
  }
}
#games {
  background-image: url(../images/games.jpg);
}
#culture {
  width: 620px;
  background-image: url(../images/culture.jpg);
}
#relaxation {
  width: 620px;
  background-image: url(../images/relaxation.jpg);
}
#travelling {
  background-image: url(../images/travelling.jpg);
}

@media screen and (max-width: 940px) {
  .ideas {
    &__card {
     width: 236px;
    }
  }
  #sport {
    background-position: 62%;
    & h4 {
      margin-top: -22px;
      max-width: 200px;
    }
  }
  #health {
    background-position: 62%;
  }
  #extreme {
    background-position: 32%;
  }
  #games {
     background-position: 47%;
  }
  #culture {
    width: 492px;
    background-position: 55%;
  }
  #relaxation {
    width: 492px;
  }
  footer {
    & .container {
      width: 692px;
    }
    & .div-company {
      margin-left: 108px;
    }
    & .h5-partners {
      margin-left: 64px;
    }
  }
}


@media screen and (max-width: 748px) {
  .ideas {
    &__card {
     width: 170px;
    }
  }
  #culture {
    width: 354px;
  }
  #relaxation {
    width: 354px;
  }
}

@media screen and (max-width: 560px) {
  .ideas {
    text-align: center;
    & h2 {
      width: 70%;
      margin: auto; 
    }
    &__cards {
      height: 900px;
      margin-top: 33px;
      flex-direction: column;
    }
    &__card {
    width: 100%;
    height: 120px;
    }
  }
  #culture {
    width: 100%;
  }
  #relaxation {
    width: 100%;
  }
}