.partner {
  text-align: center;
  &__cards {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }
  &__card {
   width: 220px;
   height: 205px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
    & img {
      width: 120px;
      height: 120px;
    }
    & h5 {
      font: {
        size: 14px;
        weight: bold;
      }
      line-height: 17px;
    }
    & p {
      color: #666666;
      text-align: center;
      font: {
        family: 'Roboto', 'Arial', sans-serif;
        size: 14px;
        weight: 300;
      }
      line-height: 14px;
    }
  }
  #diana {
    height: 224px;
  }
  #marie {
    height: 224px;
  }
  & .other-partner-btn {
    width: 180px;
    height: 40px;
    margin-top: 37px;
    text-align: center;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    background: transparent;
    color: #FF4E50;
    font: {
      size: 14px;
      weight: bold;
    }
    line-height: 17px;
    letter-spacing: 0.7px;
  }
}

@media screen and (max-width: 940px) {
  .partner {
    text-align: center;
    &__cards {
      width: 472px;
      height: 464px;
      margin-top: 35px;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
    }
    &__card {
     margin-bottom: 36px;
    }
    & .other-partner-btn {
      margin-top: 42px;
    }
  }
  #bradley {
    order: 0;
  }
  #diana {
    order: 1;
  }
  #marie {
    order: 2;
  }
  #christopher {
    order: 3;
  }
 
}

@media screen and (max-width: 748px) {
  .partner {
    &__cards {
      width: 472px;
    }
  }
}

@media screen and (max-width: 560px) {
  .partner {
    margin-top: -11px;
    &__cards {
      width: 100%;
      height: 925px;
      margin-top: 15px;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      flex-wrap: nowrap;
    }
    &__card {
      width: 82%;
      height: 205px;
      margin-bottom: 16px;
    }
    & .other-partner-btn {
      width: 280px;
      margin-top: 0px;
    }
  }
  #diana {
    height: 205px;
  }
  #marie {
    height: 205px;
  }
}