footer
  .container
    h4 DREAMSHARE
    .div-company
      h5 Company
      ul
        li About
        li Contact
        li Press
        li Blog
        li Terms and Privacy
        li Help
    h5.h5-partners Partners
    div
      p DESIGNED BY
      img(src='./images/areto.png')
