header
  .container
    nav
      a.brand(href='#') DREAMSHARE
      .login
        a(href='#') Log in
        input(type='button' value='Sign up')
    .jumbotron
      h1 SHARE YOUR HOLIDAY DREAM
      h3 And find the perfect partner to fullfill it
      input(type='button' value='Find your holiday partner')
