doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/main.min.css')
body
  block header
    include header
  block content
  block footer
    include footer